# Port for server
SERVER_PORT="3000"

# DB Connection Info (Leave Default)
DB_HOST="db"
DB_PORT="5432"
DB_USER="hvac_user"
DB_PASS="hvac_pass"
DB_NAME="hvac_db"

# Prisma needs this. Connection string for your local postgres environment
DATABASE_URL="postgresql://[user]:[password]@localhost:5432/[name of db]"

FRONTEND_URL="http://localhost:5173"

# JWT Secret for auth and refresh tokens
JWT_ACCESS_SECRET="";
JWT_REFRESH_SECRET="";

# Find the following info in Confluence
MAPBOX_TOKEN=""

WASABI_ACCESS=""
WASABI_SECRET=""
WASABI_BUCKET="dispatch"
WASABI_REGION="us-central-1"

POSTMARK_API_KEY=""
POSTMARK_FROM_EMAIL="corben@epicitautomations.com"

# Max image upload size in MB (default: 15)
MAX_UPLOAD_MB=15
