# Backend target
BACKEND_URL="http://localhost:3000"
MAPBOX_TOKEN=""

# Admin credentials for the simulator to use
ADMIN_EMAIL="user"
ADMIN_PASSWORD=""
ADMIN_OTP="000000"
ADMIN_ROLE="dispatch"

# Simulator server
SIM_SERVER_PORT="5174"

# Simulation tuning
SIM_HOME_COORDS="43.9604,-91.25478"
TICK_INTERVAL_MS="1000"
TRAVEL_DURATION_SEC="45"
DWELL_ONSITE_SEC="5"
WORK_DURATION_SEC="15"
IDLE_POLL_TICKS="10"
